@using HelloWorldMvcApp.Models

@{
    Layout = "~/Views/Employee/Common/PageLayout.cshtml";
    ViewBag.Title = "Employee details";
    Employee e = ViewBag.Emp;
}
<table class="table table-bordered" style="width: 350px;">
    <tr>
        <td><b>Id</b></td>
        <td>@e.Id</td>
    </tr>
    <tr>
        <td><b>Name</b></td>
        <td>@e.Name</td>
    </tr>
    <tr>
        <td><b>City</b></td>
        <td>@e.City</td>
    </tr>
    <tr>
        <td><b>Email address</b></td>
        <td>@e.Email</td>
    </tr>
    <tr>
        <td><b>Salary</b></td>
        <td>@e.Salary</td>
    </tr>
</table>

<p>
    @Html.ActionLink("List of employee", "List")
</p>

